.container {
  display: flex;
  gap: 70px;
}
.imgContainer {
  position: relative;
  flex: 1;
}
.img{
    object-fit: contain;
}
.formContainer {
  flex: 1;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.form input,
.form textarea{
    padding: 20px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: var(--bgSoft);
    color: var(--text);
}
.form button {
    padding: 15px;
    border: none;
    border-radius: 5px;
  background-color: var(--btn);
  color: var(--text);
  cursor: pointer;
  font-weight: bold;
}
@media (max-width: 768px) {
  .imgContainer{
    display: none;
  }
}